# Django
DJANGO_SECRET_KEY=change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,host.docker.internal
LANGUAGE_CODE=zh-hans
TIME_ZONE=Asia/Shanghai

# CORS
CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# OnlyOffice
ONLYOFFICE_API_URL=http://localhost:8081/
ONLYOFFICE_DOCUMENT_URL=http://host.docker.internal:8000
ONLYOFFICE_JWT_SECRET=change-onlyoffice-jwt-secret
ONLYOFFICE_JWT_ENABLED=False
ONLYOFFICE_JWT_HEADER=AuthorizationJWT
